# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
ios/
android/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Signing & local-only
android/app/*.jks
android/local.properties

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

inspect-android.zip
